.col-md-8 {

  font-size: 44px;
  height: 512px;
  margin-top: 15px;
  width: 700px;
  border: 1px solid blue
  padding: 50;
  text-align: left;
  vertical-align: middle;

}

.col-md-4 {
  font-size: 20px;
  margin-top: 15px;
  align-items: center;
}

.listOfProjects {
  font-size: 25px;
}
